node_modules/
dist/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor.settings.gradle
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
.DS_Store
